
.bg-image {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;

    /* background-color: aqua; */
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-family: "Source Sans Pro",
        -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.small-card {
    width:auto;
    height: 30px;
    text-align: center;
    padding: auto;
    margin: auto;
    display: inline;
    /* border-radius: 5px; */
    /* background-color: #fff; */
    color: #000;
    /* font-size: 12px; */
    font-weight: 600;
    margin:2px;
    display: inline-block;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

}
/* @media (min-width: 768px) {
       .col-md-0{   
      display:none;
    }
   
  
  }
  @media (min-width: 300px) {
   
  } */
  /* .col-0{
    display:none;
  } */
  /* @media (max-width: 300px) {
   .topcard-samll{
    width: 140px;
    height: 120px;
   }
   .small-span{
    font-size: 8px;
   }
   .im-h-w{
    width: 20px;
    height: 20px;
   }
  } 
  @media (min-width: 301px) {
    .topcard-samll{
        height: 100px;
        width: 190px;
      }
      .small-span{
        font-size: 14px;
      }
      .im-h-w{
        width: 60px;
        height: 60px;
       }
   }  */
  